header h1{

  font-family: corbel;


color: black;
padding-top: 10px;
padding-left: 5px;
padding-bottom: 15px;
font-size: 50px;
font font-family: corbel;
}

h4{

color: black;

}

p{
font-family: corbel;
color: black;
padding-top: 5px;
font-size: 25px;


}

h3{
  font-family: corbel;
  color: black;
  font-size: 44px;
text-align: left;


}


img{

padding-bottom: 5px;

}
article p{
color: black;

}
header h2{
color: black;
font-family: corbel;

}
section h4{

  color: black;
  text-decoration: underline;
}
.blue{

  color: #3627BA;
}
li{

  color: #3627BA;
  font-size: 30px;
}


